<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>
<form id="base-form" class="form" th:action="@{/hospitalSpring/simples/${command}/{simple}}" th:object="${simpleModel}" method="get">
    <div th:insert="header::menu"></div>
    <input type="hidden" name="id" th:value="${simple.getId()}"/>
    <div id="base">
        <h3 class="text-center text-white pt-5" th:text="#{hospital}"></h3>
        <div class="container">
            <div id="base-row" class="row justify-content-center align-items-center">
                <div id="base-column" class="col-md-6">
                    <div id="base-box" class="col-md-12">
                        <br/><br/>
                        <h3 class="text-center text-info" th:text="#{name}"></h3>
                        <br/>
                        <div class="form-group">
                            <label for="sim" class="text-info" th:text="#{Name}">:</label>
                            <input type="text" name="sim" id="sim" class="form-control" th:value="${simpleModel.toString()}"/>
                        </div>
                        <br/>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-info btn-md" th:value="#{save}"/>
                            <label class="text-danger"><em><strong th:value="${message}"></strong></em></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>