<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
    <meta charset="UTF-8">
    <title>edit patient</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>
<form id="base-form" class="form" th:object="${schedule}" method="post">
    <div th:insert="header"></div>
    <div id="base">
        <h3 class="text-center text-white pt-5" th:text="#{hospital}"></h3>
        <div class="container">
            <div id="base-row" class="row justify-content-center align-items-center">
                <div id="base-column" class="col-md-6">
                    <div id="base-box" class="col-md-12">
                        <br/>
                        <h3 class="text-center text-info" th:text="#{add_visit}"></h3>
                        <br/>
                        <select class="form-control" name="doctor" id="doctors">
                            <option value="" th:text="#{select_doctor}">...</option>
                            <option th:each="doctor : ${doctors}" th:value="${doctor.getId()}" th:selected="${doctor.getId() eq schedule.getDoctorId()}" th:text="${doctor.toString()}"></option>
                        </select>
                        <!--<small class="form-text text-muted" th:if="${#fields.hasErrors('doctor')}" th:errors="*{doctor}"></small>-->
                        <br>
                        <select class="form-control" name="patient" id="patients">
                            <option value="" th:text="#{select_patient}">...</option>
                            <option th:each="patient : ${patients}" th:value="${patient.getId()}" th:selected="${patient.getId() eq schedule.getPatientId()}" th:text="${patient.toString()}"></option>
                        </select>
                        <!--<small class="form-text text-muted" th:if="${#fields.hasErrors('patient')}" th:errors="*{patient}"></small>-->
                        <div class="form-group">
                            <label for="visit_time" class="text-info" th:text="#{visit_time}">:</label><br>
                            <input type="datetime-local" name="dateVisit" id="visit_time" class="form-control" value="${visit_time}">
                            <!--<small class="form-text text-muted" th:if="${#fields.hasErrors('dateVisit')}" th:errors="*{dateVisit}"></small>-->
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-info btn-md" th:value="#{save}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>